<div class="account-home-btn d-none d-sm-block">
  <a href="/" class="text-white"><i class="mdi mdi-home h1"></i></a>
</div>

<section class="bg-account-pages vh-100">
  <div class="display-table">
    <div class="display-table-cell">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card account-card">
              <div class="card-body">
                <div class="text-center mt-3">
                  <h3 class="fw-bold">
                    <a
                      href="/"
                      class="text-dark text-uppercase account-pages-logo"
                      >WA Coders</a
                    >
                  </h3>
                  <p class="text-muted">Code Auth</p>
                </div>

                <div class="p-3">
                  <div class="alert alert-warning text-center" role="alert">
                    Enter the code sent to your email
                  </div>
                  <form [formGroup]="recoveryPassForm" (ngSubmit)="submit()">
                    <p-messages></p-messages>
                    <div class="form-group">
                      <label for="code">Code</label>
                      <input
                        type="text"
                        class="form-control"
                        id="code"
                        formControlName="code"
                        placeholder="Enter code"
                        maxlength="6"
                        minlength="6"
                        required
                      />
                    </div>

                    <div class="d-grid mt-3">
                      <button
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="recoveryPassForm.invalid"
                      >
                        Reset your Password
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
    </div>
  </div>
</section>
<!-- end account-pages  -->
