<div class="account-home-btn d-none d-sm-block">
  <a routerLink="/" class="text-white"><i class="mdi mdi-home h1"></i></a>
</div>

<section class="bg-account-pages vh-100">
  <div class="display-table">
    <div class="display-table-cell">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card account-card">
              <div class="card-body">
                <div class="text-center mt-3">
                  <h3 class="fw-bold">
                    <a
                      routerLink="/"
                      class="text-dark text-uppercase account-pages-logo"
                      >WA Coders</a
                    >
                  </h3>
                  <p class="text-muted">Forgot Password</p>
                </div>
                <div class="p-3">
                  <div class="alert alert-warning text-center" role="alert">
                    Enter your email address and we'll send you an email with
                    instructions to reset your password.
                  </div>
                  <form [formGroup]="recoveryPassForm" (ngSubmit)="submit()">
                    <p-messages></p-messages>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        formControlName="email"
                        placeholder="Enter Email"
                        required
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          recoveryPassForm.get('email').invalid &&
                          (recoveryPassForm.get('email').dirty ||
                            recoveryPassForm.get('email').touched)
                        "
                      >
                        <div
                          *ngIf="recoveryPassForm.get('email').errors.required"
                        >
                          Email is required
                        </div>
                        <div *ngIf="recoveryPassForm.get('email').errors.email">
                          Email not valid
                        </div>
                      </div>
                    </div>

                    <div class="d-grid mt-3">
                      <button
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="recoveryPassForm.invalid"
                      >
                        Reset your Password
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
    </div>
  </div>
</section>
<!-- end account-pages  -->
