<!--START SERVICES-->
<section class="section pt-5" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="section-title text-center mt-5">Our Services</h1>
        <div class="section-title-border mt-3"></div>
        <p class="section-subtitle text-muted text-center pt-4 font-secondary">
          Complete digital transformation and software development solutions.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="pe-7s-rocket text-primary"></i>
          <h4 class="pt-3">Custom Software Development</h4>
          <p class="pt-3 text-muted">
            Build custom software tailored to business needs, including
            front-end interfaces and core back-end technology.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="pe-7s-monitor text-primary"></i>
          <h4 class="pt-3">Website</h4>
          <p class="pt-3 text-muted">
            We specialize in developing professional websites and use the most
            modern web design techniques.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="pe-7s-phone text-primary"></i>
          <h4 class="pt-3">Mobile App Development</h4>
          <p class="pt-3 text-muted">
            Develop high performance, secure mobile applications for iOS and
            Android devices.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="pe-7s-science text-primary"></i>
          <h4 class="pt-3">Software Development Outsourcing</h4>
          <p class="pt-3 text-muted">
            We allocate great professionals to join your development team and
            accelerate software deliveries.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="pe-7s-pen text-primary"></i>
          <h4 class="pt-3">UX/UI Design Branding</h4>
          <p class="pt-3 text-muted">
            Create beautiful, user-friendly designs for websites, mobile apps,
            and other human-machine interfaces.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="services-box text-center hover-effect">
          <i class="pe-7s-share text-primary"></i>
          <h4 class="pt-3">integrations and improvements</h4>
          <p class="pt-3 text-muted">
            Improvements or new scopes for your software solution. We implement
            improvements and integrations with other platforms
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--START SERVICES-->
