.invalid-feedback {
  display: block;
}

.progress-bar {
  background-color: #0a9d2b;
}

.progress,
.progress-bar {
  height: 10px !important;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  margin-bottom: 2px;
}

label {
  margin-bottom: 0.5rem;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

h3 {
  padding: 1rem 0;
}
